
body{
    background: #F0EFF5;
}
input{
    font-size: 16px !important;
    letter-spacing: 1px;
    outline: 0;
    border: 0;
    user-select: text;-webkit-user-select:text;zoom:1;
}
input:focus{
    user-select: text;-webkit-user-select:text;zoom:1;
}
input:active{user-select: text;-webkit-user-select:text;zoom:1}
.vux-header .vux-header-left .left-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 2px;
    left: -5px;
}
.vux-header-title{
    font-size: 1rem !important;
}
.button_dark{
    background: #06123B !important;
}
.button_gray{
    background: #9196AA !important;
}